@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/ofont.ru_Open Sans.ttf');
  src: url('/fonts/ofont.ru_Open Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PtSansCaption';
  src: url('/fonts/pt-sans-caption_[allfont.ru].ttf');
  src: url('/fonts/pt-sans-caption_[allfont.ru].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PtSans';
  src: url('/fonts/pt-sans_[allfont.ru].ttf');
  src: url('/fonts/pt-sans_[allfont.ru].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}