@green-color: #127b08;

html {
  scroll-behavior: smooth;
}

body {

  font-family: 'OpenSans';

  h2 {
    width: 500px;
    font-size: 34px;
    letter-spacing: 4px;
  }

  section {
    padding: 90px 0;
  }

  button {
    padding: 20px 40px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    background-color: @green-color;
    float: right;
    margin-top: 15px;
  }

  input {
    display: block;
    width: 330px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 12px 0;
    padding: 10px;
    font-family: 'OpenSans';
  }

  .boxForBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

header {
  background: url('../../images/fon.png') center top no-repeat;
  background-size: 100% 100%;
  padding-bottom: 110px;

  .main-menu {

    padding: 20px 0;
    letter-spacing: 2px;

    .icon {
      float: right;
    }

    .menu-up {
      width: 100%;
      height: 32px;
      position: relative;

      &::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        top: 30px;
        left: 0;
        background: url('../../images/punctir.png') left no-repeat;
        background-size: 100%;
      }

      .data-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: right;

        img {
          width: 18px;
          margin: 0 6px 0 15px;
        }

        .mail,
        .tel {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }

        // .link-input {
        //   width: 220px;
        //   height: 20px;
        //   position: absolute;
        //   margin: 0;
        //   padding: 0;
        //   border: none;

        // }
      }

    }

    .menu-down {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 5px;

      p {
        width: 230px;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
      }

      nav {
        float: right;
        padding-top: 10px;

        li {
          display: inline;
          text-transform: uppercase;
          font-size: 14px;

          a {
            color: black;
            font-family: 'PtSans';
            font-weight: 600;
            padding: 3px 0 3px 20px;
          }


        }
      }

      nav ul li:first-child a {
        color: @green-color;
      }
    }

    .data-info-mobil {
      display: none;
      margin-top: 20px;

      img {
        width: 18px;
        margin: 0 6px 0 15px;
      }

      .mail,
      .tel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }

    h1 {

      text-transform: uppercase;
      font-size: 18px;
      color: @green-color;
      float: left;
    }

    .icon img {
      width: 45px;
      margin-top: 10px;
    }

  }

  .block-header {
    font-family: "PtSansCaption";

    .showPopup {
      -webkit-box-shadow: 9px 10px 10px 0px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 9px 10px 10px 0px rgba(0, 0, 0, 0.22);
      box-shadow: 9px 10px 10px 0px rgba(0, 0, 0, 0.22);
    }

    ul {
      margin: 20px 0;
    }

    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 8px 0;
      font-size: 18px;
      text-transform: uppercase;
      color: @green-color;
      font-weight: 600;
      letter-spacing: 1px;

      img {
        width: 35px;
        margin-right: 15px;
      }
    }

    h2 {
      padding-top: 90px;
    }

  }
}

section#process {
  width: 100%;
  position: relative;

  .advantages {
    width: 90%;
    height: 280px;
    background: url('../../images/stick.png') center top no-repeat;
    background-size: 100%;
    margin: 0 auto;

    .img-circle {
      width: 120px;
      height: 120px;
      background-color: #ccc;
      position: absolute;
      border-radius: 50%;
      left: calc(~'50% - 60px');
      top: 30px;
    }

    .advantage1 {
      background: url('../../images/archive-185017000.png') center no-repeat;
    }

    .advantage2 {
      background: url('../../images/31214.png') center no-repeat;
    }

    .advantage3 {
      background: url('../../images/plp-akten-vernichten-dezember18.png') center no-repeat;
    }

    .advantage4 {
      background: url('../../images/машина.png') center no-repeat;
    }

    .advantage1,
    .advantage2,
    .advantage3,
    .advantage4 {
      background-size: 100%;
    }

    p {
      width: 210px;
      text-align: center;
      font-family: 'PtSans';
      font-weight: 600;
      position: absolute;
      top: 160px;
      left: calc(~'50% - 105px');
      line-height: 1.1;
      letter-spacing: 1.3pt;
      font-size: 14px;
    }

  }

  .bg-img {
    position: absolute;
    // margin-top: 200px;
    width: 100%;
    height: 1245px;

  }

  .bg-img1 {
    background:
      url('../../images/Nozhnitsy_fon_prozrachny.png') center no-repeat;
    background-size: auto 100%;
  }

  // .bg-img2 {
  //   background:
  //     url('../../images/left.png') left no-repeat;
  //   background-size: contain;
  // }

  .steps-process {
    margin: 0 20px;

    h2 {
      margin-bottom: 60px;
      margin-top: 80px;
    }

    .step {
      position: relative;
      margin: 20px;
      margin-left: 90px;

      .step-num {
        color: @green-color;
        letter-spacing: 10px;
        font-size: 60px;
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 700;
        position: absolute;
        left: -90px;
        top: -10px;
      }

      .step-name {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        
      }

      .step-text {
        width: 620px;
        word-spacing: 8px;
        font-size: 16px;
        font-family: 'PtSans';
        font-weight: 600;
        line-height: 1.3;

        span {
          color: @green-color;
          font-weight: 600;
        }
      }

    }

    .step02 {
      margin-left: 180px;
    }

    .step03 {
      margin-left: 270px;
    }

    .step04 {
      margin-left: 360px;
    }

    .step05 {
      margin-left: 450px;
    }

  }
}

section#orderShredder {
  background-color: #dedad7;
  background: url('../../images/fon_dlya_formy.jpg') center top no-repeat;
  background-size: cover;

  .orderBy {
    width: 100%;

    h2 {
      margin-bottom: 30px;
    }

    p {
      width: 400px;
      font-family: 'PtSansCaption';
      font-weight: 600;
      font-size: 16px;
      word-spacing: 5px;
      letter-spacing: 1px;
      line-height: 1.5;
    }

    form.order {
      font-family: 'OpenSans';



      button {
        padding: 20px 60px;
        float: left;
        margin: 30px 0 0 10px;
      }
    }
  }
}

section#pricing {
  h2 {
    margin: 0 auto;
    text-align: center;
  }

  .list-price {
    margin-top: 30px;

    .namePrice {
      font-size: 20px;
      font-family: 'PtSansCaption';
      color: @green-color;
      text-transform: uppercase;
      line-height: 22px;

      span {
        font-size: 40px;
      }

      h3 {
        font-weight: 400;
      }
    }

    .aboutPrice,
    .price {
      font-family: 'PtSans';
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;

      p {
        position: relative;
        margin-bottom: 8px;
        max-width: 340px;

        img {
          position: absolute;
          top: 0;
          left: -30px;
          width: 20px;
        }
      }
    }

    .aboutPrice {

      span {
        display: block;
        margin-bottom: 15px;
      }
    }

  }
}

section#question {
  color: #fff;
  background: url('../../images/question.png') center center no-repeat;
  background-size: cover;

  h2,
  p {

    text-align: center;
    margin: 0 auto;
  }

  h2 {
    width: 530px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    font-family: 'PtSansCaption';
    font-weight: 400;
    letter-spacing: 1px;
  }

  input {
    color: #fff;
    border-bottom: 2px solid #fff;
    margin: 12px auto;
  }

  ::-webkit-input-placeholder {
    color: #fff;
  }

  :-ms-input-placeholder {
    color: #fff;
  }

  ::-moz-placeholder {
    color: #fff;
  }

  :-moz-placeholder {
    color: #fff;
  }

  .boxForBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    button {
      float: none;
      padding: 20px 60px;
      margin: 15px auto;
      border: 1px solid #fff;
      margin-top: 40px;
    }
  }

}

section#contacts {
  .main-menu {

    padding: 20px 0;
    letter-spacing: 2px;

    .icon {
      float: right;

    }

    .menu-up {
      width: 100%;
      height: 32px;
      position: relative;
  }
  .menu-up::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        top: 30px;
        left: 0;
        background: url('../../images/punctir.png') left;
        background-size: 100%;
      

    }

    .menu-down {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 5px;

      .col1 {
        p.docP {
          width: 230px;
          font-size: 14px;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 1px;


        }

        .contactsBlock {
          margin-top: 45px;

          p {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            letter-spacing: 1px;
            position: relative;
            margin: 5px 35px;
            font-family: PtSans;
            font-weight: 600;
            img {
              width: 18px;
              margin-right: 6px;
              position: absolute;
              top: 3px;
              left: -30px;
            }
          }
        }
      }

      .col2 {
        width: 50%;
        float: right;

        .map {
          margin-top: 10px;
        }
      }

    }

    h1 {

      text-transform: uppercase;
      font-size: 18px;
      color: @green-color;
      float: left;
    }

    .icon img {
      width: 45px;
      margin-top: 10px;
    }

  }

  .map-mobil {
    display: none;
  }
}

footer {
  text-align: center;
  font-family: 'PtSans';
  margin-bottom: 30px;

  span {
    text-decoration: underline;
    font-weight: 600;
  }

  p {
    color: #808080;
    word-spacing: 5px;
  }

  .footerPLeft {
    text-align: left;
  }

  .footerPRight {
    text-align: right;
  }
}

#popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;

  .popup-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    #popupForm {
      width: 640px;
      height: 540px;
      background-color: #fff;
      border-radius: 15px;

      .icon {
        margin-top: 90px;
        margin-bottom: 15px;
        width: 100%;

        img {
          display: block;
          width: 65px;
          margin: 0 auto;
        }
      }

      p {
        text-align: center;
        font-family: 'PtSansCaption';
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
      }

      input {
        margin: 12px auto;
      }

      .boxForBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        button {
          margin: 15px auto;
          float: none;
        }
      }

    }
  }

}

#popup-politic {
  width: 100%;
  height: 100%;
  text-align: justify;
  font-family: 'PtSans';
  font-size: 16px;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;

  .popup-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .list-politic {
      padding: 40px 30px;
      width: 640px;
      height: 90vh;
      background-color: #fff;
      border-radius: 5px;
      overflow: auto;

      div {
        text-align: center;
      }

      span {
        font-size: 18px;
        font-weight: 1000;
      }

      p {
        margin-top: 20px;
      }
    }
  }
}

.menu-mobil.active-menu {
  display: block;
  width: 80%;
  height: 265px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 500;

  nav {
    height: 100%;
    padding: 35px;
    text-align: center;

    li {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      padding: 10px 0;

      a {
        color: black;
        font-family: 'PtSans';
        font-weight: 600;
        // padding: 3px 0 3px 20px;
      }


    }
  }
}

.menu-mobil {
  display: none;
}

header .block-header .showPopup,
section#orderShredder .orderBy form.order button,
section#question .boxForBtn button {
  -webkit-box-shadow: 9px 10px 10px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 9px 10px 10px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 9px 10px 10px 0px rgba(0, 0, 0, 0.22);
}


@media(max-width: 1024px) {
  section#process .steps-process .step .step-text {
    width: 500px;
  }

  section#process .bg-img1,
  section#process .bg-img2 {
    background: none;
  }

  header .main-menu .menu-down nav li {
    font-size: 12px;
  }

  section#process .advantages p {
    width: 180px;
    left: calc(~'50% - 90px');
    font-size: 12px;
    top: 135px;
  }

  section#process .advantages .img-circle {
    width: 100px;
    height: 100px;
    left: calc(~'50% - 50px');
  }
}

@media(max-width: 540px) {
  header {
    background: url('../../images/books-1845614.png') bottom no-repeat;
    background-size: cover;
    padding-bottom: 60px;
  }

  body h2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }

  body button {
    width: 85%;
    font-size: 16px;
    padding: 20px;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  body section {
    padding: 60px 0;
  }

  body input {
    width: 90%;
    margin: 12px auto;
  }

  header .main-menu .menu-up .data-info {
    display: none;
  }

  header .main-menu h1 {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  header .block-header li {
    font-size: 12px;
  }

  header .main-menu .menu-down p {
    width: 100%;
    font-size: 12px;
  }

  header .main-menu .menu-down nav {
    display: none;
  }

  header .main-menu .data-info-mobil .mail {
    margin-bottom: 5px;
  }

  header .main-menu .icon img {
    position: fixed;
    width: 35px;
    left: 20px;
    z-index: 301;
  }

  header .main-menu .menu-down {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  header .main-menu .data-info-mobil {
    display: block;
  }

  header .main-menu .menu-up {
    height: 22px;
  }

  header .main-menu .menu-up::after,
  section#contacts .main-menu .menu-up::after {
    height: 2px;
    top: 22px;
  }

  header .main-menu.mobil .menu-up::after,
  section#contacts .main-menu.mobil .menu-up::after {
    background: url('../../images/pun-mob.png');
    background-size: 100%;
  }

  header .block-header h2 {
    padding-top: 30px;
  }

  header .block-header ul {
    margin: 20px 15px;
  }

  section#process .steps-process h2 {
    margin-bottom: 20px;
  }

  section#process .steps-process .step {
    margin: 0;
  }

  section#process .advantages .img-circle {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    left: calc(~'50% - 125px');
  }

  section#process .advantages p {
    width: 400px;
    left: calc(~'50% - 200px');
    font-size: 20px;
    top: 330px;
  }

  section#process .advantages {
    height: 565px;
  }

  section#process .steps-process .step {
    margin-left: 45px;
    margin-bottom: 20px;
  }

  section#process .steps-process .step .step-num {
    font-size: 30px;
    left: -55px;
    top: 0px;
  }

  section#process .steps-process .step .step-name {
    font-size: 16px;
    margin-bottom: 5px;
  }

  section#process .steps-process .step .step-text {
    width: 100%;
  }

  section#orderShredder {
    background: url('../../images/tetka.png') center bottom no-repeat, #d3d4d6;
    background-size: 100% auto;
  }

  section#pricing .list-price .aboutPrice p,
  section#pricing .list-price .price p {
    max-width: 100%;
  }

  section#orderShredder .orderBy h2 {
    color: @green-color;
  }

  section#orderShredder .orderBy p {
    width: 100%;
    text-align: center;
  }

  section#orderShredder .orderBy p span {
    display: block;
    color: @green-color;
  }

  section#orderShredder .orderBy form.order button {
    margin: 30px 0 0 0;
    padding: 20px 40px;
  }

  section#pricing .list-price .namePrice {
    font-size: 16px;
    margin-bottom: 15px;
  }

  section#pricing .list-price .namePrice span {
    font-size: 30px;
  }

  section#pricing .list-price .aboutPriceCheck {
    margin-left: 30px;
  }

  section#pricing .list-price .priceNone {
    display: none;
  }

  section#question h2 {
    width: 100%;
  }

  section#question p {
    width: 85%;
  }

  section#question .boxForBtn button {
    padding: 20px 40px;
 
  }

  section#contacts {
    padding-bottom: 30px;
  }

  section#contacts .main-menu {
    padding: 20px;
  }

  section#contacts .main-menu h1 {
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
  }

  section#contacts .main-menu .icon img {
    width: 100%;
  }

  section#contacts .main-menu .menu-down .col1 p.docP {
    width: 100%;
    font-size: 10px;
  }

  section#contacts .main-menu .menu-down .col1 .contactsBlock p {
    margin: 5px 0;
  }

  section#contacts .main-menu .menu-up {
    height: 27px;
  }

  section#contacts .main-menu .menu-down {
    padding-top: 0;
    display: block;
  }

  section#contacts .main-menu .menu-down .col2 {
    display: none;
  }

  section#contacts .map-mobil {
    display: block;
    margin-top: 20px;
  }

  footer .footerPLeft {
    text-align: center;
  }

  footer .footerPRight {
    text-align: center;
  }

  footer .footerPLeft {
    margin-top: 10px;
    font-size: 14px;
  }

  footer .footerPRight {
    font-size: 14px;
  }

  #popup .popup-bg #popupForm {
    width: 90%;
    height: auto;
    padding: 5px;
  }

  #popup .popup-bg #popupForm .icon {
    display: none;
  }

  .close {
    width: 35px;
    height: 35px;
    position: relative;
    float: right;
  }

  .close::before,
  .close::after {
    content: '';
    width: 35px;
    height: 3px;
    background-color: #848484;
    position: absolute;
    top: 15px;
    right: 0;
  }

  .close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #popup .popup-bg #popupForm .icon img {
    width: 50px;
    display: none;
  }

  #popup .popup-bg #popupForm p {
    margin-top: 50px;
  }

  #popup .popup-bg #popupForm .boxForBtn button {
    font-size: 13px;
  }

  #popup-politic .popup-bg .list-politic {
    width: 90%;
    padding: 10px 23px;
  }

  #popup-politic .popup-bg .list-politic .boxForSpan {
    margin-top: 35px;
  }

  .menu-mobil .close {
    float: left;
    margin: 5px;
  }
}

@media(max-width: 425px) {
  section#process .advantages {
    height: 435px;
  }

  section#process .advantages .img-circle {
    width: 180px;
    height: 180px;
    left: calc(~'50% - 90px');
  }

  section#process .advantages p {
    width: 200px;
    left: calc(~'50% - 100px');
    font-size: 14px;
    top: 260px;
  }
}

@media(max-width: 375px) {
  section#process .advantages {
    height: 380px;
  }

  section#process .advantages .img-circle {
    margin-top: 10px;
  }

  section#process .advantages p {

    top: 230px;
  }
}

@media(max-width: 320px) {
  section#process .advantages {
    height: 340px;
  }

  section#process .advantages .img-circle {
    width: 100px;
    height: 100px;
    left: calc(~'50% - 50px');
  }

  section#process .advantages p {
    width: 200px;
    left: calc(~'50% - 100px');
    font-size: 14px;
    top: 190px;
  }
}